.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.3rem;
}
.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--bg-alt);
  padding: 6px 7px;
  border-radius: 5px;
}
.input {
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  color: var(--txt-primary);
}
.links {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.links > * {
  display: flex;
  align-items: center;
  background-color: var(--bg-alt);
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}
