.container {
  border: 2px solid var(--bg-alt);
  border-radius: 5px;
  padding: 0.8rem;
}
.title {
  font-weight: 300;
  color: var(--txt-secondary);
  margin-bottom: 0.8rem;
}
.table {
  width: 100%;
}
.table thead {
  color: var(--txt-secondary);
}
.table td {
  padding: 0.3rem;
}
.user {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.userImage {
  object-fit: cover;
  border-radius: 50%;
}
.status {
  border-radius: 5px;
  padding: 5px 7px;
  color: var(txt-primary);
  font-size: 0.8rem;
}
.pending {
  background-color: #d08e57;
}
.completed {
  background-color: #00b382;
}
.cancelled {
  background-color: #ff3d3d;
}
