.container {
  display: flex;
}
.sideMenu {
  flex: 1;
  background-color: var(--bg-primary);
  padding: 1.5rem;
  min-height: 100vh;
}
.content {
  flex: 4.5;
  padding: 1.5rem;
}
.wrapper {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.5rem;
}
.main {
  flex: 3;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
.announcement {
  flex: 1;
}
